<h1>THIS IS ROOM 5</h1>
<p>Your options are to go North, West, East or South</p>
<p>WHICH DIRECTION WOULD YOU LIKE TO GO!?</p>

<a href="/room2">North</a>
<a href="/room4">WEST</a>
<a href="/room6">EAST</a>
<a href="/room8">SOUTH</a>
