<h1>THIS IS ROOM 6</h1>
<p>Your options are to go North, West or South</p>
<p>WHICH DIRECTION WOULD YOU LIKE TO GO!?</p>

<a href="/room3">North</a>
<a href="/room5">WEST</a>
<a href="/room9">SOUTH</a>
